*{
	user-select: none;
	border-collapse: collapse;
	border:0px;
	padding: 0px;
	margin: 0px;
    font-family: "Arial";
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*font-size: 8vmin;*/
	/*font-size: 25px;*/
}

::-webkit-scrollbar {
    display: none;
}

body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 8vmin;
}

#header{
	height: 8%;
	width: 100%;
	position: relative;
}

#header>div{
	height: 100%;
}

.btHeader{
	float: right;
	height: 100%;
    margin-right: 5%;
}

.btHeader img{
	height: 80%;
    padding-top: 10%;
}

#timeCounterContainer{
	width: 80%;
	margin-left: 10%;
	padding-top: 12%;
	font-size: 15vmin;
	text-align: center;
	font-family: digit;
}

#moneyCounterContainer{
	width: 80%;
	margin-left: 10%;
	margin-top: 20%;
	font-size: 7vmin;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;


}

#logoContainer{
	width: 80%;
	margin-top: 20%;
	margin-left: 10%;
	font-family: "GreatVibes";
	font-size: 18vmin;
}


/*============ COMPTEUR ============*/
#imgJackpot{
	width: 100%;
}

#counter{
    position: absolute;
    top: 0;
}

.counter_item{
	height: inherit;
	width: 60px;
	margin-left: 1px;
}

.digit {
	height: inherit;
	width: inherit;
    /*height: 1500px;
	width: 60px;
    background-size: auto 1800px;
    background-position: center -150px;*/
    background-image: url('../img/counter_digits.png');
    background-repeat: no-repeat;
    background-size: 60px 1800px;

    transition: background-position 500ms;
}

.front{
	height: inherit;
	width: inherit;
	/*height: 150px;
	width: 60px;*/
	background-image: url('../img/counter_front.png');
	position: absolute;
    background-size: cover;
}


/*============= POPUP ============= */

#popupContainer{
	background-image: url( '../img/backgroundOpacity.png' );
    background-size: cover;
    position: fixed;
    width: 90%;
    height: 100%;
    z-index: 50;
    top: 0;
    padding: 5%;
    font-size: 6vmin;
    display: none;
}

#popupParam{
	width: 90%;
	padding: 5%;
    display: none;
    background-color: #DDDDDD;
    border: solid 2px black;
}

#popupParam td{
}

#popupParam table{
	border: solid 1px gray;
}

.label{
	width: 60%;
}

.inputParam{
	width: 40%;
}

#inputTauxHoraire{
	width: 20%;
	font-size: 6vmin;
}
#popupParam table input{
	font-size: 6vmin;
	width: 80%
}

#btValiderParam{
	width:  60%;
    margin-left: 20%;
    margin-top: 5%;
    text-align:  center;
    border: solid 5px black;
    background: white;
}


@font-face {
    font-family: 'digit';
    src: url('../font/Digit.TTF');
}

@font-face{
	font-family: 'November';
    src: url('../font/Easy November.ttf');
}

@font-face{
	font-family: 'GreatVibes';
    src: url('../font/GreatVibes-Regular.ttf');
}
